html, body { height: 100%; }

* {
    box-sizing: border-box;
    font-family: Cooper Black;
}

body {
    padding: 0;
    margin: 0;
}

#my-canvas {
    background-color: rgba(155, 155, 155, 0.2);
    box-shadow: 1px 1px 1px;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
}

.icon {
    position: relative;
    display: inline-block;
    font-size: 4em;
    float: right;
    width: 100px;
    top: 15px;
    transition: color .5s;
}

.picker {
    position: relative;
    display: inline-block;
    height: 100%;
}

.icon:hover {
    color: orange;
    cursor: pointer;
}

.icon.selected {
    color:yellow;
}

.navbar {
    height: 100px;
    background-color: rgb(185, 230, 196);
    border-bottom: solid 6px rgb(139, 182, 137);
}

.header {
    display: inline-flex;
    color: yellow;
    font-size: 30px;
    margin-left: 50px;
}

#pencil-pic {
    width: 90px;
    height: 100px;
}

.undo:hover {
    color: red;
    cursor: pointer;
}

#idTextBox {
position:absolute;
}

#panel-left{
    top: 22px;
    width: 200px;
    height: 92px;
    margin-left: 70px;
    margin-top: 40px;
}

#bottom-container{
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
}